.switcher {
  input[type=checkbox] {
    display: none;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: #C4C4C4;
    border-radius: 10px;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 15px;
    height: 15px;
    background: white;
    box-sizing: border-box;
    border-radius: 15px;
    transition: 0.3s;
  }

  input:checked + label:after {
    left: calc(100% - 2.5px);
    transform: translateX(-100%);
  }

  .label {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
  }
}
