.actions {
  padding-top: 80px;
  padding-bottom: 80px;

  .headline {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: #000000;
  }

  .item {
    img {
      width: 100%;
      height: auto;
    }
  }
}
