.mountings-types {
  padding-bottom: 80px;
  overflow: hidden;

  .headline {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: #000000;
  }

  .description {
    margin-bottom: 50px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: #3F3F3F;
  }

  .item {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #FFFFFF;
    cursor: pointer;

    @include transition(border-color 0.3s);

    &:hover,
    &:active {
      border-color: darken(#97D64A, 15%);
    }

    img {
      width: 100%;
      height: auto;
      max-height: 120px;
      object-fit: cover;
    }

    .name {
      font-family: 'Montserrat', sans-serif;
      margin-top: 15px;
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }

    .description {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #616161;
    }
  }

  .owl-carousel {
    position: relative;

    .owl-stage-outer {
      overflow: visible;
    }

    .owl-item {
      opacity: 0;
      pointer-events: none !important;

      &.active {
        opacity: 1;
        pointer-events: all !important;
      }
    }

    .owl-nav {
      position: absolute;
      left: 0;
      top: 40%;
      width: 100%;

      button {
        background: none;
        border-width: 0;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;

        span {
          display: block;
          width: 40px;
          height: 40px;
          background-color: #E8E8E8;
          border-radius: 4px;
          color: rgba(255, 255, 255, 0);
          background-image: url("../../../img/left-chevron.svg");
          background-position: center center;
          background-size: 20px 20px;
          background-repeat: no-repeat;

          @include transition(background-color 0.3s);
        }

        &.owl-next {
          left: auto;
          right: 0;

          span {
            background-image: url("../../../img/right-chevron.svg");
          }
        }

        &:hover,
        &:active {
          span {
            background-color: #97D64A;
          }
        }
      }
    }
  }
}
